body{
    background-image: url(../assets/ac.jpg)
}
div{
    width: 200px;
    height: 200px;
    border: solid black 1px;
    float: left;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
#a{
    background-image: url(../assets/back_mantel.jpg);
}
#b{
    background-image: url(../assets/back_mantel.jpg);
    background-clip:content-box;
}
#c{
    background-image: url(../assets/back_mantel.jpg);
    background-size: cover;
}
#d{
    background-image: url(../assets/back_mantel.jpg);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}
#e{
    background-image: url(../assets/dh.jpg);
    background-position: center;
    background-size: cover;
}
#f{    background-image: url(../assets/dh.jpg);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: white;}
#g{
    background-image: url(../assets/dh_2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
#h{
    background-image: url(../assets/dh_3.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
#i{
    background-image: linear-gradient(
        to right,
        yellow,
        green
        );
}
#j{
    background-image: linear-gradient(
        to top,
        rgb(253, 173, 173) 0%,
        red 20%,
        rgb(249, 169, 169) 100%
        );
}
#k{
    background-image: linear-gradient(
        to top,
        green,
        white
        );
}
#l{
    background-image: linear-gradient(
        to top,
        green,
        rgba(255, 255, 255, 0)
        );
}
