table{
    text-align: center;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    border: outset rgb(204, 201, 201);
}
th{
    font-weight: 100;
    border: inset rgb(204, 201, 201);
}
th{
    background-color: rgb(117, 165, 117);
    border: inset rgb(204, 201, 201) 2px;
}
tr{
    border: inset rgb(204, 201, 201) 2px;
}
td{
    border: inset rgb(204, 201, 201) 2px;
}
.bg-r{
    background-color: rgb(184, 136, 136);
}
.bg-y{
    background-color: rgb(228, 228, 160);
}
.bg-paw{
    background-image: url(../assets/back_mantel.jpg);
    background-repeat: repeat;
    color: rgb(17, 2, 151);
    font-weight: bold;
}